* {
  box-sizing: border-box; }

#mySLider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  position: relative; }

.card {
  background: #E6E6E6;
  position: absolute;
  height: 180px;
  display: inline-block;
  width: 300px; }
  .card img {
    max-width: 100%; }

.card--behind {
  transform: scale(2, 3);
  opacity: .5;
  overflow: hidden; }
